body
{ background: #fafafa;
  color: #333333;
  padding-top: 70px;
}


.body-section
{
   background-color:#fbfbfb;
   border:1px solid #e9ecef;
   width:30%;
   padding:1%;
   align:center;
   margin-left:30%;
}
h4
{
    text-align: center;
    font-weight:800;
}

.alert
{
  width:30%;
  align:center;
  margin-left:30%;
  margin-bottom:1%;
}
